<div class="modal fade" id="exampleModal3" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive">
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Meet a Physician</h2>
        <p class="message"></p>
        <%= render 'shared/request_appointment_form' %>
        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>

<banner class="banners">
  <%= image_tag("physicians_banner.png", class: "banner-img", alt: "Doctors talking to each other.") %>
</banner>
<main class="content" id="content">
  <div class="section">
    <div class="content-contain">
      <div class="intro-container">
        <h1>Our Physicians</h1>
        <p class="subtitle">Our physicians are respected and established community physicians dedicated to helping each
          patient live their best life.</p>
        <p>Please search below for a Center near you and explore details about a physician, location and services.</p>
      </div>
    </div>
  </div>
  <div class="section search-form-section">

    <div class="location-map left-map" aria-label="image of the United States map on blue with Florida and Texas states indicated on orange" style="background-image: url(<%= asset_path 'full-map.svg' %>);"></div>

    <div class="content-contain" id="content-contain-results">
      <div class="sub-section">
        <%= render 'shared/search_physician_form' %>
      </div>

    </div>
  </div>
  <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal3">Meet a Physician
  </button>
  <div class="shadow"></div>
</main>

