<div class="modal fade" id="exampleModal2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 1000px;position: absolute;left: -58%;padding: 10%;">
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Request a Tour</h2>
        <p class="message"></p>
    <%= render 'shared/tour_appointment_form' %>

        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>

<banner class="banners">
  <%= image_tag("locations_banner.png", class: "banner-img", alt: "Conviva Care Center Photo.") %>
</banner>
<main class="content" id="content">
  <div class="section no-search">
    <div class="content-contain visible">
      <div class="intro-container">
        <h1 class="smallest">Our Locations</h1>
        <p class="subtitle">You can find Conviva Care Centers in Texas and Florida, with new locations coming soon.</p>
        <p>Please search below for a Center near you and explore details about a physician, location and services.</p>
        <p>Browse by location in:</p>

        <div class="row">
          <h3>Texas</h3>
          <div class="customize-select" style="margin-left: 30%">

            <div class="select-wrapper">

              <span class="current-selection">View All Counties</span>
              <ul>
                <li class="option-selection" data-val="Aransas">

                  <a href="/our_locations/search?search=Aransas" style="text-decoration: none;">Aransas</a>
                </li>
                <li class="option-selection" data-val="Bexar">
                  <a href="/our_locations/search?search=Bexar" style="text-decoration: none;">Bexar</a>
                </li>
                <li class="option-selection" data-val="Comal">
                  <a href="/our_locations/search?search=Comal" style="text-decoration: none;">Comal</a>
                </li>
                <li class="option-selection" data-val="El Paso">
                  <a href="/our_locations/search?search=El Paso" style="text-decoration: none;">El Paso</a>
                </li>
                <li class="option-selection" data-val="Nueces">
                  <a href="/our_locations/search?search=Nueces" style="text-decoration: none;">Nueces</a>
                </li>
                <li class="option-selection" data-val="Wilson">
                  <a href="/our_locations/search?search=Wilson" style="text-decoration: none;">Wilson</a>

                </li>
              </ul>
              <input type="hidden" data-column="county" name="county" value="-1">

            </div>
          </div>
        </div>

        <div class="row">
          <h3>Florida</h3>
          <div class="customize-select" style="margin-left: 27%">
            <div class="select-wrapper">
              <span class="current-selection">View All Counties</span>
              <ul>
                <li class="option-selection" data-val="Broward">

                  <a href="/our_locations/search?search=Broward" style="text-decoration: none;">Broward</a>
                </li>
                <li class="option-selection" data-val="Clay">
                  <a href="/our_locations/search?search=Clay" class="a-dropdown" style="text-decoration: none;">Clay</a>
                </li>
                <li class="option-selection" data-val="Duval">
                  <a href="/our_locations/search?search=Duval" style="text-decoration: none;">Duval</a>
                </li>
                <li class="option-selection" data-val="Flagler">
                  <a href="/our_locations/search?search=Flagler" style="text-decoration: none;">Flagler</a>
                </li>
                <li class="option-selection" data-val="Hillsborough">
                  <a href="/our_locations/search?search=Hillsborough" class="a-dropdown" style="text-decoration: none;">Hillsborough</a>
                </li>
                <li class="option-selection" data-val="Martin">
                  <a href="/our_locations/search?search=Martin" style="text-decoration: none;">Martin</a>
                </li>
                <li class="option-selection" data-val="Miami-Dade">
                  <a href="/our_locations/search?search=Miami-Dade" style="text-decoration: none;">Miami-Dade</a>
                </li>
                <li class="option-selection" data-val="Nassau">
                  <a href="/our_locations/search?search=Nassau" style="text-decoration: none;">Nassau</a>
                </li>
                <li class="option-selection" data-val="Orange">
                  <a href="/our_locations/search?search=Orange" style="text-decoration: none;">Orange</a>
                </li>
                <li class="option-selection" data-val="Osceola">
                  <a href="/our_locations/search?search=Osceola" style="text-decoration: none;">Osceola</a>
                </li>
                <li class="option-selection" data-val="Palm Beach">
                  <a href="/our_locations/search?search=Palm Beach" style="text-decoration: none;">Palm Beach</a>
                </li>
                <li class="option-selection" data-val="Pasco">
                  <a href="/our_locations/search?search=Pasco" style="text-decoration: none;">Pasco</a>
                </li>
                <li class="option-selection" data-val="Volusia">
                  <a href="/our_locations/search?search=Volusia" style="text-decoration: none;">Volusia</a>

                </li>
              </ul>
              <input type="hidden" data-column="county" name="county" value="-1">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section search-form-section">

    <div class="location-map left-map" aria-label="image of the United States map on blue with Florida and Texas states indicated on orange" style="background-image: url(<%= asset_path 'full-map.svg' %>);"></div>
    <div class="content-contain" id="content-contain-results">
      <div class="sub-section">
        <%= render 'shared/search_location_form' %>
      </div>
    </div>
  </div>
  <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal2">Request a Tour
  </button>

  <!-- Conditionals for search RP -->
  <script type="text/javascript">
    function rockPort() {
      let ping = document.querySelector('input#rockport-lookup');
      if (ping.value == "rockport" || ping.value === "Rockport") {
        document.querySelector('input#rockport-lookup').value = "City Rockport";
      }
      if (ping.value == "eighth street" || ping.value == "Eighth Street" || ping.value == "8th") {
        document.querySelector('input#rockport-lookup').value = "Conviva Care Center Eighth Street";
      }
      if (ping.value == "flagler" || ping.value == "Flagler") {
        document.querySelector('input#rockport-lookup').value = "Conviva Care Center Flagler";
      }
    }
  </script>
  <div class="shadow"></div>
</main>
