<header class="header">
    <div class="content-contain">

        <div class="logo">
            <a href="#" class="mb" aria-label="Visit the Home Page of Conviva Care Centers">
                <img class="dt" src="/logos/care-center-black.svg" alt="Conviva Care Centers logo">
                <img class="mb" src="/logos/care-center-black-tm.svg" alt="Conviva Care Centers logo">
            </a>
        </div>

        <nav class="nav" aria-label="Header Navigation">

            <ul>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS8" class="current-page">Home</a></li>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS9hYm91dA">About</a></li>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS9zZXJ2aWNlcw">Services</a></li>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS9vdXItbG9jYXRpb25z">Locations</a></li>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS9waHlzaWNpYW5z">Physicians</a></li>
                <li><a target="_blank" href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93b3JrZm9yY2Vub3cuYWRwLmNvbS9tYXNjc3IvZGVmYXVsdC9tZGYvcmVjcnVpdG1lbnQvcmVjcnVpdG1lbnQuaHRtbD9jaWQ9YTRjZGE1NGUtOWM5MS00MTBiLWI0NTAtNzI4NzRmYzQ5MmIwJmNjSWQ9MTkwMDAxMDFfMDAwMDAxJnR5cGU9TVAmbGFuZz1lbl9VUw">Careers</a></li>
                <li><a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS9jb250YWN0">Contact</a></li>
            </ul>

        </nav>

        <a href="https://proxy-sea.hidemyass-freeproxy.com/proxy/en-ca/aHR0cHM6Ly93d3cuY29udml2YWNhcmVjZW50ZXJzLmNvbS8#" class="mb" id="mobile-nav" aria-label="Click to view navigation"><span class="fa fa-menu" aria-hidden="true"></span></a>
    </div>
</header>