<complementary class="pre-content">
  <div class="pre-section">
    <div class="content-contain">
      <a href="#content" class="skip-navigation dt" aria-label="Skip the navigation menu and go to the content of the site" style="text-decoration: none;">Skip Navigation</a>
    <span class="choose-location" data-toggle="modal" data-target="#exampleLoationModal">Choose My Location</span>
    </div>
  </div>
</complementary>
<header class="header">
  <div class="content-contain">
    <div class="logo">
      <a href="#" class="mb" aria-label="Visit the Home Page of Conviva Care Centers">
        <%= image_tag("care-center-black.svg", class:"dt", alt: "Conviva Care Centers logo") %>
        <%= image_tag("care-center-black-tm.svg",class:"mb" , alt: "Conviva Care Centers logo") %>
      </a>
    </div>
    <nav class="nav" aria-label="Header Navigation">
      <%= render 'layouts/menu_list' %>
    </nav>
    <a href="#" class="mb" id="mobile-nav" aria-label="Click to view navigation"><span class="fa fa-menu" aria-hidden="true"></span></a>
  </div>
</header>

<complementary class="modal modal-location" id="exampleLoationModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="content-contain">
        <div class="modal-body" style="display: block;">
          <p>Search for your location and set as default to quickly access your Care Center's information and homepage.</p>
          <button class="styled-link current-locations modal-locations" onclick="searchWithCurrentLocation('location')">Search by Current Location</button>
          <%= link_to 'Search all Locations',our_locations_path, class: 'styled-link selected nearest-locations', style: 'text-decoration: none;' %>
        </div>
    </div>
</complementary>
